.food {
    padding: 50px 0;
}

.food .content-heading {
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    padding: 20px 0;
}

.food .food-items {
    margin: 15px 0;
    background-color: #fff;
}

.food .food-items img {
    width: 100%;
}

.food .food-items .food-information {
    padding: 15px;
    box-sizing: border-box;
}

.food .food-items .food-information .name {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: var(--bg-color);
}

.food .food-items .food-information .price {
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: var(--primary-color);
    text-align: right;
}

.food .food-items .food-information .rating svg {
    color: #D9D9D9;
}

.food .food-items .food-information .rating svg.active {
    color: var(--primary-color);
}

// .food .food-items .btn {
//     padding: 0 10px 15px;
// }

.food .food-items .food-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    height: 35px;
    padding: 5px 76;
}

.food .food-items .food-btn a.added {
    background-color: #000;
}